<div class="row">
    <div class="col-md-4 d-none d-md-inline">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-8">
        <div class="col-md-11 p-0"><jhi-alert></jhi-alert></div>
            <h1 jhiTranslate="home.welcome" *ngIf="!isAuthenticated()">Welcome, Java Hipster!</h1>
            <h1 id="home-logged-message" jhiTranslate="home.welcomeWithName" *ngIf="isAuthenticated() && account"
                translateValues="{name: '{{account.firstName}}'}">Welcome, Java Hipster!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="false">
                <p class="font-weight-bold">
                    <span jhiTranslate="global.messages.info.authenticated.prefix">To get started, please </span>
                    <a href="" (click)="login(); false">
                        <fa-icon [icon]="'sign-in-alt'"></fa-icon>
                        <strong jhiTranslate="global.messages.info.authenticated.link">Sign In</strong></a>
                </p>

                <p *ngSwitchCase="false">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                    <a routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>.
                </p>
              </div>
            </div>     
        </div> 
    </div>
</div>


